<div class="col-md-12 d-flex flex-column justify-content-center align-items-center" *ngIf="isLoading" style="height: 80vh;">
    <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
       
    </div>
    <span translate class="font-size-h5 font-weight-light mt-3">{{texto}}</span>
</div>