footer{
    position: absolute;
    bottom: 0;
    background-color: #FF6B6B;
    color: black;
    padding: 8px;
    text-align: center;
    width: 100%;
    p{
        padding: 0px;
        margin: 0;
    }
    a{
        color: black;
    }
}